html{
scroll-behavior: smooth;
}


body{
    background-color: #272729;
    text-align: center;
}

header{
    background-color: #585DAD;
    width: 100%;
    height: 300px;
    margin-bottom: 100%;
    font-size: 3em;
    color: #EDEDED;
    display: flex;
}

header img {
margin: 0;
padding: 0;
}

header p {
margin-left: 15vw;
margin-top: 10vh;
}


#graphs
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

#mapid{
width:100%;
height:75vh;
}

#graphs div {
margin: 0;
padding: 0;
width:100%;
height:25%;
}

