<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <title>Hitze-Resilienz Plattform</title>
    <meta name="description" content="Ok">
    <meta name="author" content="Ich bins">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>

<header>
    <img src="images/favi.jpg" width="300" height="300"/>
    <p id="title">Hitze-Resilienz Plattform für die Stadt</p>
</header>

<div id="button"><img width="100" height="100" src="images/arrow.png" alt="+"/></div>

<div id="mapid"></div>
<div id="charts"></div>

<script th:inline="javascript">
        let sen = /*[[${sensors}]]*/ null;
        let baum = new Baum(sen);
        let map = new Map();
        let baumTitle = null;
        let markerClicked = false;
        let marker = map.createMap(sen[sen.length-3].metadaten.geokoordinaten, sen[sen.length-2].metadaten.geokoordinaten, sen[sen.length-1].metadaten.geokoordinaten);
        map.setOnClickForAllMarker(baum, marker);
        $("#button").click( (e) => { $('html,body').animate({scrollTop: $("#mapid").offset().top},'fast');});

        getContent();

        function getContent() {
            //create url to request fragment
            var activeElement = document.activeElement;
            if(activeElement.value != null){
                var url = '/request?interval=' + activeElement.value;
            }else{
                var url = '/request?interval=All';
            }
            //load fragment and replace content
            $('#charts').load(url);
        }
    </script>
</body>
</html>