<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <title>Hitze-Resilienz Plattform</title>
    <meta name="description" content="Ok">
    <meta name="author" content="Ich bins">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="js/sensor.js"></script>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>

<header>
    <img src="images/favi.jpg" width="300" height="300"/>
    <p id="title">Hitze-Resilienz Plattform für die Stadt Dortmund</p>
</header>

<div id="button"><img width="100" height="100" src="images/arrow.png" alt="+"/></div>

<div id="mapid"></div>

<div id="graphs">
    <div id="container0"></div>
    <div id="container1"></div>
    <div id="container2"></div>
    <div id="container3"></div>
    <div id="container4"></div>
</div>

<footer>

</footer>
<script th:inline="javascript">
let sen = /*[[${sensors}]]*/ null;
let sensor000 = new Sensor(sen);
let sensor001 = new Sensor(sen);
let sensor002 = new Sensor(sen);

document.addEventListener('DOMContentLoaded', function () {

    let map = new Map();
    let marker = map.createMap();
    map.createChartsForMarker(sensor000, 'Baum-000', marker[0]);
    map.createChartsForMarker(sensor001, 'Baum-001', marker[1]);
    map.createChartsForMarker(sensor002, 'Baum-002', marker[2]);
    $("#button").click( (e) => { $('html,body').animate({scrollTop: $("#mapid").offset().top},'fast');});
});
</script>
</body>
</html>